@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&display=swap');
body {
    background-color:#0d1424;
    color:white;
}

.content {
    overflow-x:hidden;
}


#particles-js {
    position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
		overflow: hidden;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
          font-family: 'Plus Jakarta Sans', sans-serif;
  }

  .center h1 {
    float:center;
    justify-content:center;
    text-shadow:0px 0px 10px white;
    font-size:3.6rem;
  }

  .flentcenter {
    margin: 0;
    position: absolute;
    top:30%;
    float:center;
    justify-content:center;
    justify-items: center;
    align-items: center;
    text-align: center;
          font-family: 'Plus Jakarta Sans', sans-serif;
  }

  .flentcenter h1 {
    float:center;
    justify-content:center;
    text-shadow:0px 0px 10px white;
    font-size:3.6rem;
}


.mathcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
          font-family: 'Plus Jakarta Sans', sans-serif;
          margin-top:100px;
  }

  .readingcenter {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
          font-family: 'Plus Jakarta Sans', sans-serif;
          margin-top:100px;
  }

  #subtitle {
    flex-wrap:wrap;
  }

  .navbar {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9997;
    top: 0.9;
    right: 0;
    left: 0;
    position:fixed;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    background:#0d1424f1;
    border-radius:15px;
    border: 1px solid #fff;
    opacity:1;
}

.navbar .logo img {
width:50px;
margin-left:15px;
border-radius:7px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    font-family:'Plus Jakarta Sans', sans-serif;
    margin-left: 1.5rem;
    transition:0.5s ease;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.navbar-menu li:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-menu li {
        margin: 0.5rem 0;
    }
}

#search-bar {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    background-color:#0d1c3f;
    color:white;
    border:1px solid;
    border-radius: 5px;
    text-align:center;
    margin:70px;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items:center;
    justify-content:center;
    margin:30px;
}

.image-item {
    border-radius: 12px;
    background-color:#0d1c3f;
    text-align: center;
    transition:0.3s ease;
    cursor:default;
    height:250px;
    border:solid 2px #fff;
}

.image-item:hover {
    border-radius:9px;
    animation: enlarge 0.3s ease-in-out;
           animation-fill-mode: both;
}

@keyframes enlarge {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.17);
    }
  }

.image-item img {
    cursor:default;
    border-radius: 10px;
    width: 200px;
    height:200px;
}

.image-item p {
    cursor:default;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align:center;
    margin: 10px;
    flex-wrap:wrap;
}

